<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elec5619.g20.dao.CommentMapper">
    <resultMap id="commentResultMap" type="com.elec5619.g20.pojo.Comment">
        <id property="commentId" column="comment_id"/>
        <result property="productId" column="product_id"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
    </resultMap>

    <insert id="addComment" parameterType="com.elec5619.g20.pojo.Comment" useGeneratedKeys="false" keyProperty="comment_id">
        INSERT INTO Comment (product_id, content)
        VALUES (#{productId}, #{content});
    </insert>

    <delete id="deleteCommentById">
        DELETE FROM Comment
        WHERE comment_id = #{commentId};
    </delete>

    <delete id="delete">
        DELETE FROM Comment;
    </delete>

    <select id="queryCommentByProduct" resultType="com.elec5619.g20.pojo.Comment">
        SELECT comment_id, product_id, content, time
        FROM Comment
        WHERE product_id = #{productId}
        ORDER BY time DESC;
    </select>

</mapper>